<!-- Banner view -->
<section id="banner">
  <header>
    <h1 class="header-text">TOKYOS UNDERGROUD</h1>
    <p class="description">EXPLORE HIDDEN ALLEYS AND SECRET SPOTS</p>
  </header>
  <footer>
    <a href="#about" class="nav-btn-neutral">
      About
    </a>
  </footer>
</section>

<!-- About view -->
<section id="about">

</section>

<!-- Full day tour view-->
<section id="full_day_tour">

</section>

<!-- Pub crawl view-->
<section id="pub_crawl">

</section>

<!-- Insta itegration view-->
<section id="gallery">

</section>

<!-- Contact view -->
<section id="contact">

</section>