<!-- Banner view -->
<section id="banner">
  <header>
    <h1 class="header-text">TOKYOS UNDERGROUD</h1>
    <p class="description">EXPLORE HIDDEN ALLEYS AND SECRET SPOTS</p>
  </header>
  <footer>
    <a href="#about" class="nav-btn-neutral">
      About
    </a>
  </footer>
</section>

<!-- About view -->
<section id="about">
  <div class="article">
    <div class = "text-container">
      <h3>
        NO DISNEYLAND <br>
        NO SHIBUYA CROSSING <br>
        DISCOVER THE AUTHENTIC VIBE OF TOKYO
      </h3>
      <p>
        Hi, I am Daniel. 
        Being raised in two countreis, Germany and Japan,
        puts me in a unique position of being exposed to different
        cultures from a young age. This diversity gives me the 
        advatage to easily connect with people from western and eastern comunities. 
        I hope that we can get a chance to meet and I can share with you my own
        Tokyo experience, the way Tokyo should be expireinced!
      </p>
    </div>
    <div class="guide-image"></div>
  </div>
  <footer>
    <a href="#tours" class="nav-btn-neutral">
      Tours
    </a>
  </footer>
</section>

<section id="tours">
  <div class="background-paralax"></div>
  <header>
      <h2 class="header-text">Select a tour</h2>
  </header>  
  <div class="tours-container">
    <a href="#full_day_tour" class="full-day-tours-tag">
      <span>Full day</span>
    </a> 
    <a href="#pub_crawl" class="pub-crawl-tag mat-ripple">
      <span>Pub crawl</span>
    </a>
  </div> 
</section>

<!-- Full day tour view-->
<section id="full_day_tour">
  <header>
      <h2 class="header-text">Full day tour</h2>
  </header>  
  <div class="stops-container">
    <div class="stop">
      <div>
        stop text
      </div>
      <div>
        stop image
      </div>
    </div>
  </div>
</section>

<!-- Pub crawl view-->
<section id="pub_crawl">

</section>

<!-- Insta itegration view-->
<section id="gallery">

</section>

<!-- Contact view -->
<section id="contact">

</section>

<section id="copyright">
  <span>© Tokyos underground. All rights reserved.</span>
</section>
